.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
__pycache__/
.env
logs/
include/
*.pyc
*.pyo
*.pyd
.eggs/
*.egg-info/
.Python
.venv/
.env/
.dockerignore
docker-compose.override.yml

